@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPNeueMontreal-Medium'; /* Replace with your font's name */
  src: url('/fonts/NeueMedium2.woff2') format('woff2');
  font-weight: 530; /* Adjust as needed */
  font-style: normal;  /* Adjust as needed */
}

@font-face {
  font-family: 'NeueMontrealThin';
  src: url('/fonts/NeueThin2.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
  isolation: isolate; /* Ensure blending works */
  margin: 0;
  padding: 0;


}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference; /* The key property */
  font-size: 14px;
  color: white; /* Initial color for blending */
  font-family: Arial, sans-serif;
  transition: opacity 0.1s ease, transform 10s ease; /* Smooth transitions */
  opacity: 0; /* Hidden by default */
}

.cursor-active {
  opacity: 1; /* Make the cursor visible when active */
}

.cursor-custom {
  cursor: none;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}




.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background: transparent;
}


